.video-slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.video-slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;

  /* Enable scrollbar */
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #555 transparent;  /* Firefox */
}

/* Chrome / Edge / Safari */
.video-slider::-webkit-scrollbar {
  height: 8px;
}

.video-slider::-webkit-scrollbar-track {
  background: transparent;
}

.video-slider::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.video-slider::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}



.video-card {
    min-width: 360px;
    height: 200px;
    flex-shrink: 0;
}

.video-card iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}

.video_nav {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    z-index: 2;
    border-radius: 50%;
    scroll-behavior: smooth;
}

.video_nav.left {
    margin-right: 8px;
}

.video_nav.right {
    margin-left: 8px;
}