* {
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
}

.homePage {
  background-color: var(--Background);
  width: 100%;
  color: var(--Text);
  padding: 80px 0 2rem 0;
}

.moviesList {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.movieCard {
  width: 210px;
  flex-shrink: 0;
  cursor: pointer;
  margin-bottom: 12px;
  transition: transform 0.3s ease;


  &:hover {
    box-shadow: 11px 10px 36px 0px rgba(0, 200, 223, 0.45);
    -webkit-box-shadow: 11px 10px 36px 0px rgba(0, 200, 223, 0.45);
    -moz-box-shadow: 11px 10px 36px 0px rgba(0, 200, 223, 0.45);
    transform: scale(1.03);
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
}

.movieCard_img {
  width: 100%;
  padding-bottom: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movieCard_img.loaded {
  opacity: 1;
}




.detailsPage {
  background-color: var(--Background);
  width: 100%;
  color: var(--Text);
}


.custom-alert {
  position: fixed;
  top: 70px;
  left: 50%;
  min-width: 200px;
  text-align: center;
  transform: translateX(-50%);
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: 500;
  z-index: 9999;
  animation: slideDown 0.3s ease;
}

.custom-alert.add {
  background: #1db954;
  color: #fff;
}

.custom-alert.remove {
  background: #e63946;
  color: #fff;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}



.movieCard_details {
  padding: 0 .5rem;
}

.movieCard_details h5 {
  color: var(--Text);
}

.movieCard_details p {
  color: var(--Text);
}




/* Loading Screen */
.loading {
  background-color: var(--Background);
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  overflow: hidden;
}

.loading-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.loadingcard {
  background-color: var(--Cards);
  width: 230px;
  height: 350px;
}

.loading-txt {
  color: var(--Primary-Accent);
}

/* End Loading Screen */
















/* Start Movie Details Page */

.details_container {
  padding: 100px 2rem 2rem 2rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.details_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(60%);
  transform: scale(1.1);
  /* prevents edge clipping */
  z-index: 0;
}

/* Content stays sharp */
.details_container>* {
  position: relative;
  z-index: 1;
}




.poster_img {
  min-width: 150px;
  max-width: 300px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.networks {
  background-color: var(--Cards);
  border: none;
  padding: 10px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 300px;
}



.release_date {
  margin-top: 1rem;
  color: var(--Text);
}

.genres {
  margin-top: 3px;
  margin-bottom: 5px;
}

.rating_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vote_average {
  margin: .5rem 0;
  width: max-content;
  padding: 13px 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: var(--Cards);
}

.rating-none {
  border: none;
}

.rating-red {
  border-color: var(--red);
}

.rating-yellow {
  border-color: var(--Rating);
}

.rating-green {
  border-color: var(--Play-Button);
}

.trailer_overly {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
}

.trailer_overly.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.trailer_window {
  width: min(95%, 1100px);
  height: 680px;
  background-color: #000;
  z-index: 10000;

  display: flex;
  flex-direction: column;
}

.trailer_titlebar {
  height: 54px;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;
  background-color: #000;
  color: var(--Text);
  font-size: 22px;
  font-weight: bold;
}

.trailer_body {
  flex: 1;
}

.trailer_iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}



.play_btn {
  padding: 10px 20px;
  background-color: var(--Cards);
  border-radius: 50px;
  color: var(--Play-Button);
  display: flex;
  gap: 5px;
  align-items: center;
}


.bookMark {
  font-size: 30px;
  margin-top: 8px;
}




/* Cast Section */

.season_container {
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.SeasonCard {
  width: 200px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  margin: auto;

  &:hover {
    box-shadow: 11px 10px 36px 0px rgba(0, 200, 223, 0.45);
    -webkit-box-shadow: 11px 10px 36px 0px rgba(0, 200, 223, 0.45);
    -moz-box-shadow: 11px 10px 36px 0px rgba(0, 200, 223, 0.45);
    transform: scale(1.03);
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
}



/* End Cast Section */

/* Start Cast Slider */

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* End Cast Slider */


/* End Movie Details Page */