.rec_slider_wrapper {
  position: relative;
  margin: 1.5rem 0;
}

.rec_slider {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 40px;

  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #555 transparent;  /* Firefox */
}

.rec_slider::-webkit-scrollbar {
  height: 8px;
}

.rec_slider::-webkit-scrollbar-track {
  background: transparent;
}

.rec_slider::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.rec_slider::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.rec_card {
  min-width: 160px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.rec_card img {
  width: 100%;
  border-radius: 10px;
}

.rec_card p {
  font-size: 14px;
  margin-top: 6px;
}

.slider_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

.slider_btn.left {
  left: 5px;
}

.slider_btn.right {
  right: 5px;
}
